<div class="wrap">
<form class="searchform" method="get" action="/showpics"  name="searchpics">
	<input class="searchfield" name="r" type="text" value="Type a location or address..." onfocus="if (this.value == 'Type a location or address...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Type a location or address...';}" />
        <!--<input class="searchfield" type="text" placeholder="Type an address or location..."  />-->
	<input class="searchbutton" type="submit" value="Go" />
</form>
</div>

<div class="wrap">
Example: <a class="link" href="/showpics?r=central+park+ny">central park ny</a> or <a class="link" href="/showpics?r=34+street+herald+sq+new+york">34 street herald sq new york</a>
</div>


<!--
<div class="wrap">
 <div class="textbox">
  <div><h4>Popular on Instagram</h4></div>
  <div>
    <ul>
     <li><a class="link" href="/showpics?r=Suvarnabhumi+Airport+%28BKK%29+ท่าอากาศยานสุวรรณภูมิ+in+Bangkok%2C+Thailand">Suvarnabhumi Airport (BKK) ท่าอากาศยานสุวรรณภูมิ</a> in Bangkok, Thailand</li>
     <li><a class="link" href="showpics?r=Siam+Paragon+%28สยามพารากอน%29+shopping+mall+in+Bangkok%2C+Thailand">Siam Paragon (สยามพารากอน) shopping mall</a>in Bangkok, Thailand</li>
     <li><a class="link" href="showpics?r=Disneyland+Park+Anaheim%2C+California">Disneyland Park</a> in Anaheim, California</li>
     <li><a class="link" href="showpics?r=Times+Square%2C+New+York+City">Times Square</a> in New York</li>
      <li><a class="link" href="showpics?r=24+Willie+Mays+Plaza++San+Francisco%2C+CA+94107">AT&T Park</a> in San Francisco</li>
      <li><a class="link" href="showpics?r=Los+Angeles+International+Airport+%28LAX%29">Los Angeles International Airport (LAX)</a></li>
      <li><a class="link" href="showpics?r=Dodger+Stadium+Los+Angeles">Dodger Stadium<a> in Los Angeles</li>
      <li><a class="link" href="showpics?r=Eiffel+Tower+Paris">Eiffel Tower<a> in Paris</li>
      <li><a class="link" href="showpics?r=Staples+Center+Los+Angeles">Staples Canter<a> in Los Angeles</li>
      <li><a class="link" href="showpics?r=Santa+Monica+Pier+Los+Angeles">Santa Monica Pier<a> in Los Angeles</li>
    </ul>
   </div>
 </div>
-->

<div class="wrap">
 <div class="textbox">
  <div><h4>Popular on Instagram</h4></div>
  <div>
    <ul>
  <% @popular.each do |popular| %>
     <li><a class="link" href="showpics?r=<%=h popular[:address] %>"><%= popular[:name]%></a> in <%= popular[:location] %></li>
  <% end %>
    </ul>
   </div>
 </div>

<div class="wrap">
 <div class="textbox">
  <div></div>
  <div>
    <ul>
  <% @more_popular.each do |popular| %>
     <li><a class="link" href="showpics?r=<%=h popular[:address] %>"><%= popular[:name]%></a> in <%= popular[:location] %></li>
  <% end %>
    </ul>
   </div>
 </div> 

</div>
